<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" th:href="@{../static/index.css}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.js" defer></script>
</head>

<body>
    <h1>URL Shortener</h1>
    <form id="shortenForm" hx-post="/api/shorten" hx-target="#short-url">
        <input type="text" id="longURL" placeholder="Enter URL" name="url" />
        <button type="submit">Shorten</button>
    </form>
    <p id="short-url"></p>    
</body>
</html>